
body {
  margin: 0;
  padding: 0;
  background: #f2f4f5;
  color: #1e1e1f;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

html{
  font-size: 62.5%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}